.wrapper

.chat-main
  .main-header
    .header-leftbox
      %h2.current-group
        = @group.name
      %ul.member-list
        Member:
        - @user.each do |users|
          = users.name
    %a
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit   
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new-message
        .input-box
          = f.text_field :content, class: 'input-text', :placeholder => "type a message", :type => "text"
          = f.label :image, class: 'input-box__image' do
            = icon('fa','image',class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit class: 'submit-btn', :name => "commit", :type => "submit", :value => "Send"